html,body{
    margin:0;
    padding:0;
    font-size: 16px;
    background: #2D2E36;
    display: grid;
    place-items: center;
    height: 100vh; 
    font-family: 'Poppins';
}

.container{
    margin: 1rem;
    padding: 1rem;
    border-radius:.4rem;
    max-width: 270px;
    background: #383A45;   
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    border-radius: .2rem;
}
h1{
    color: white;
    font-size: 1.2rem;
    line-height: 119%;
}
p{
    color: #8D91A6;
    font-size: .8rem;
}
.link{
    width: .8rem;
}
@media only screen and (min-width: 550px){
    .container{
        max-width:550px;
        
    }
    a{
        display: flex;
        
    }
    img{
        margin-right: 1rem;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
    